---
interface Props {
	active: string;
}

const { active } = Astro.props;
---

<div class="flex flex-wrap" x-data=`{ active: '${active}' }` x-init="active = error ? 'login' : 'rates'">
	<slot />
</div>
