---
import Table from '../components/Table.astro';
---

<Table>
	<tbody>
		<tr>
			<th>IP address</th>
			<td>$(ip)</td>
		</tr>

		<tr>
			<th>MAC address</th>
			<td>$(mac)</td>
		</tr>

		<tr>
			<th>Downloaded</th>
			<td>$(bytes-out-nice)</td>
		</tr>

		<tr>
			<th>Uploaded</th>
			<td>$(bytes-in-nice)</td>
		</tr>

		<tr>
			<th>Up Time</th>
			<td>$(uptime)</td>
		</tr>

		<tr x-show="session">
			<th>Time Left</th>
			<td x-text="session"></td>
		</tr>
	</tbody>
</Table>
