html {
	font-size: 100%;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat Variable', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

[x-cloak] {
	display: none !important;
}
